body {
  font-family: "Roboto", "Kanit", "Raleway", sans-serif;
  color: black;
}
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  margin: auto;
  width: 1400px;
}
header {
  display: flex;
  justify-content: center;
}
.header-format {
  position: fixed;
  height: 100px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
}
.header-logo {
  display: flex;
  align-items: center;
  height: 100px;
  width: 165px;
}
.header-logo-text::after {
  position: absolute;
  content: "";
  display: inline-flex;
  margin-left: 40px;
  height: 40px;
  width: 2px;
  background-color: black;
}
.header-logo-text {
  position: absolute;
  font-family: "Kanit";
  font-size: 38px;
  line-height: calc(40 / 38);
  color: black;
}
.header-logo-part {
  color: rgb(255, 140, 0);
}
.headmod {
  display: flex;
  align-items: center;
}
.header-list-format {
  display: flex;
  padding-left: 200px;
}
.header-list-mod:nth-child(2) {
  margin-left: 120px;
}
.header-list-mod:nth-child(3) {
  margin-left: 120px;
}
.social-links {
  display: inline;
  color: black;
}
.social-links:hover,
.social-links:focus {
  color: rgb(255, 140, 0);
}

.header-contact-links {
  display: flex;
  padding-left: 360px;
}
.contact-links {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}
.contact-links:hover,
.contact-links:focus {
  color: rgb(255, 140, 0);
  fill: rgb(255, 140, 0);
}
.header-contact-icon-box {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.icon-contact {
  display: flex;
}

.main-baner {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7) 1%,
      rgba(255, 140, 0, 0.5) 99%
    ),
    url(../images/images_main/baner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.test-bot {
  margin-top: 100px;
  height: 14000px;
}
