body {
  font-family: "Roboto", "Kanit", "Raleway", sans-serif;
  color: black;
}
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition-property: box-shadow, background-color, scale, color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.header-format {
  /* position: fixed; */
  height: 100px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}
.header-logo {
  display: flex;
  align-items: center;
  height: 100px;
  width: 165px;
}
.header-logo-text::after {
  position: absolute;
  content: "";
  display: inline-flex;
  margin-left: 40px;
  height: 40px;
  width: 2px;
  background-color: black;
}
.header-logo-text {
  font-family: "Kanit";
  font-size: 38px;
  line-height: calc(40 / 38);
  color: black;
}
.header-logo-part {
  color: rgb(255, 140, 0);
}

.social-links {
  display: inline;
  color: black;
}
.social-links:hover,
.social-links:focus {
  color: rgb(255, 140, 0);
}

.header-contact-links {
  display: flex;
  padding-left: 360px;
}
.contact-links {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}
.contact-links:hover,
.contact-links:focus {
  color: rgb(255, 140, 0);
  fill: rgb(255, 140, 0);
}
.header-contact-icon-box {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.icon-contact {
  display: flex;
}

.header-display-format {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-baner {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7) 1%,
      rgba(255, 140, 0, 0.7) 99%
    ),
    url(../images/images_main/baner.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* STYLOWANIE SEKCJI STRONY MAIN */
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.product {
}
.team {
  background-color: rgba(0, 0, 0, 0.05);
}
/* STYLOWANIE SEKCJI PRODUKTU */
.main-product-format {
  display: flex;
  justify-content: center;
}
.main-product-photo {
  width: 700px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h2 {
  font-size: 38px;
  line-height: calc(40 / 38);
  color: black;
  text-align: center;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.main-product-photo-header {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.main-product-photo-display {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
  display: block;
}
.main-product-photo-description {
  display: flex;
  text-align: center;
  padding-bottom: 10px;
}
.main-product-button-format {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.main-product-button:hover {
  transform: scale(1.2);
}
.main-product-button {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;

  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 140, 0);
  color: white;

  transition: transform 250ms linear;
}
/* STYLIZACJA TEAMU */
.main-team-format {
  display: flex;
  justify-content: space-around;
}
.main-photo-team-background {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: white;
}
.main-photo-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;

  letter-spacing: 0.03em;
  padding-top: 30px;
}
.main-photo-description {
  font-size: 16px;
  line-height: 1.1875;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-link-content);

  padding-top: 10px;
}
h3 {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main-photo-team-icons {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-photo-team-icons-choose:nth-child(n + 2) {
  padding-left: 10px;
}
.main-team-icon-background {
  display: flex;
  background-color: white;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.icon-team {
  padding: 12px;
  fill: #afb1b8;
}
.main-team-icon-background:hover,
.main-team-icon-background:focus {
  background-color: rgb(255, 140, 0);
}
.icon-team:hover,
.icon-team:focus {
  fill: white;
}
.team-photo-block {
  display: block;
}
/* STYLIZACJA STOPKI STRONY */
.footer-background-format {
  background-color: black;
  height: 100px;
}
.logo-footer {
  color: white;
}
